<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <center><body>
    <h1>Voici la page du potin n°<%= number %></h1>
      <p>
        Son auteur : <%= gossip.author %><br/><br/>
        Le contenu du potin : <br/>==<%= gossip.content %>==
      </p>

      <p><a href="/">Lien</a> pour revenir à la page des potins</p>
  </body></center>
</html>
